.PAI {
    background-color: #917070;
    height: 250px;
    width: 70%;
    border: 10px solid black;
}

.FILHO2 {
    background-color: white;
    height: 70%;
    width: 120vh;
    border: 10px solid #0f0faa;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
}

p {
    color: rgb(35, 35, 192);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin-top: 75px;
}

.FILHO3 {
    background-color: rgb(44, 44, 216);
    height: 25px;
    width: 65%;
    margin:auto;
    margin-top: 60px;
}

.FILHO4 {
    background-color: rgb(179, 37, 179);
    height: 25px;
    width: 40%;
    margin:auto;
}

.FILHO5 {
    background-color: rgb(9, 155, 9);
    height: 25px;
    width: 60%;
    margin:auto;
}

.FILHO6 {
    background-color: rgb(231, 231, 14);
    height: 25px;
    width: 50%;
    margin:auto;
}

.dec {
    display: flex;
    margin-top: 60px;
}

.FILHO7 {
    background-color: red;
    height: 25px;
    width: 40%;
}

.FILHO8 {
    background-color: rgb(38, 199, 199);
    height: 25px;
    width: 20%;
}

.FILHO9 {
    background-color: rgb(12, 224, 12);
    height: 25px;
    width: 40%;
}
